body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100px;
    height: 660px;
    background-color: rgba(19, 26, 25, 0.577);
}
.space{
    justify-content:space-around ;
}
.active{
    color:rgb(28, 28, 24);
    border: solid 2px;
    border-radius: 10px;
    background-color: burlywood;              
}
.active:hover{
    color: rgb(255, 94, 0);
    border-bottom: yellow;
}
li a{
    color: white;
}
.droprow{
    width: 800px;
    padding: 1% 1%;
    color: rgb(46, 22, 22);
    background-color: rgb(230, 215, 215);
    font-size: medium;
    border:solid black 2px;
    border-radius: 10px;
    margin: 5px;
    text-transform: capitalize;
    font-weight: 500;
    justify-content: space-evenly;
    display: block;
    align-items: center;
}
.drop1{
    display: grid;
    grid-template-columns: repeat(3,100px);
    justify-content: left;
    /* background-color: antiquewhite; */
    
}
span{
    font-size: x-large;
}
div input{
    width: 300px;
    background-color: rgb(232, 233, 246);
    height: 30px;
    
}
p{
    font: bold;
    font-size: larger;
    font-weight: 700;
}
.his{
    display: flex;
    justify-content: left;
    right: 30px;
    top: 125px;
    align-items: center;
}