body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100px;
    height: 660px;
    background-color: rgba(19, 26, 25, 0.577);
}
.space{
    justify-content:space-around ;
}
.active{
    color:rgb(243, 249, 120);              
}
.active:hover{
    color: aqua;
    border-bottom: yellow;
}
li a{
    color: white;
}